/* .scrolling-wrapper {
   
    
    height: auto;
} */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


    #sidebar-logo .img-fluid{
      padding: 0px 0px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .sidebar{
      box-shadow: 0.5px 0px 10px rgb(161, 112, 147);
      border-radius: 17px;
  }
  .logo{
      margin-top: 2rem;
      margin-left: 0.7rem;
      margin-bottom: 4rem;
  }
  .logo1{
      margin-left: -10px;
  }
  .logo2{
      margin-left: -10px;
      margin-top: -30px;
  }
  .logo3{
      margin-top: 50px;
      margin-left: -10px;
  }
  
  .roundborder{
      box-shadow: 0.5px 0px 10px rgb(161, 112, 147);
      border-radius: 17px;
  }
  
  
  div.ex1 {
    background-color: white;
    height: 370px;
    overflow: auto;
    }

 
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

    }
/* sidebar hidden */
    .example::-webkit-scrollbar {
        display: none;
      }
      
      .example {
        -ms-overflow-style: none; 
        scrollbar-width: none;  
      }
      /* sidebar hidden */

    .card {
        display: inline-block;
     }